.container {
  padding: 10px;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  z-index: 1;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.header {
  height:  53px;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  display:flex;
}

.header__icon {
  display: inline-block;
  vertical-align: middle;
  height: 61px;
  width: 60px;
  border-radius:50%;
  padding: 14px;
  margin: 13px;
}

.header__icon:hover {
  background: rgba(77,77,77,0.6);
}

.nav {
  position: absolute;
}

.header__icon .nav {
  display:none;
}



@media (max-width:750px) {
  .header__icon:hover .nav {
    display: block;
  }
}
