
.contents {
  display: flex;
  margin: 0 auto;
}

.main {
  flex: 5;
}

.nav {
  flex: 2;
  position: fixed;
}

.blank {
  flex: 2; 
}

.aside {
  flex: 2;
} 



@media (max-width:750px) {
  .contents {
    flex-direction: column;
  }

  .nav {
    display: none;
  }
}
